@font-face{
	font-family: eximageometric;
	src:url(fonts/EximaGeometric.ttf)
}

body{
	margin: 0;
	padding: 0;
	background-color: #F5E7B4 ;
}


header {
	margin: 0;
	padding: 0;
	background-color: #D94B2B;
	height: 20%;
}

header h2{
	margin: 0;
	text-align: center;
	padding: 80px 40px;
	color: white;
	font-size: 40px;
	font-family: eximageometric;
}

div{
	background-color: black ;
	height: 150px;
	width: 150px;
	margin-left: 10%;
	margin-top: 9%;
}